@font-face {
  font-family: 'thequietscream';
  src: url('../fonts/thequietscream.eot'); /* IE9 Compat Modes */
  src: url('../fonts/thequietscream.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/thequietscream.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/thequietscream.woff') format('woff'), /* Modern Browsers */
    url('../fonts/thequietscream.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/thequietscream.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}
html, body{
  min-width:100%; 
  overflow-x:hidden;
  background-color: #000000; 
}
h1, h2, h3, h4, h5, h6{
  font-weight: bold;
 // text-align: center;
}
a{
  cursor: hand;
}
.btn{
  padding: 6px 12px;
  margin-right: 0;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
.thumbnail{
  width: 75%;
  margin-bottom: 6px;
}
.verse{    
    width: 100%;
    border: 2px solid red; 
    padding: 5%;     
} 
cite{
  float: right;
  font-family: $font-family-serif;
}

hr {
height: 100px;
background: url(../images/hr-gray.png) no-repeat center;
border: none;
}

//--------SECTIONS
#what img, #about img, #mission img{
  max-width: 25%;
}
#what.container-fluid, #about.container-fluid, #mission.container-fluid, #contact.container-fluid{
  padding-bottom: 50px;
}
.gapR {
  margin-left: 10px; 
  margin-right: 30px;  
}
.gapL {
  margin-right: 10px;
  margin-left: 30px;     
}
.pullL{
  float: left;
}
.pullR{
  float: right;
} 
#landing {
	background: url('../images/lrBkg.jpg') no-repeat center center scroll;
	background-size: cover;
	min-width: 100%;
	min-height: 100vh;
	color: $brand-secondary;
.container-fluid{
  height:100%;
  width: 100%;
  padding: 0;
}
.row-fluid{
	position: absolute;
	bottom: 5%;
  min-width: 100%; 
}
h1.lHeader{
  color: $brand-secondary;  
}  
h1.lHeader, small{
	font-family: 'Trade Winds', cursive;
	font-size: 4.5em;	
	margin-bottom: 0;	
}
.tagline{
font-size: 1em;
line-height: 1;
}
  img{
	width: 45%;
  }
}
//end of landing
#about{  
  color: $brand-primary;
  background-color: $brand-background;
  min-width: 100%;
  img{
    margin-left:10px;
  }  
}
//end of about 
#what{
  min-width: 100%;
  background-color: $brand-secondary;  
    .cta {
      
      .col-md-12{
      float:none;
    }
  }
    h3{
      margin-top: 18px;
      margin-bottom: 36px;
    }
  #outreach{      
      width: 33%;
      height: auto;
      ul{
      list-style-type: none;
      padding: 0;
      li{
        display: table;
        margin: 0 auto;
      }
    }
  }
//custom css for carousel and indicators
  #carousel-systems{
    padding-top: 20px;
    padding-bottom:20px;
    width: 65%;      
  }
  .carousel-indicators .active, .carousel-indicators li{
    width: 16px;
    height: 16px;
    margin: 0 5px -50px;
  }
  .carousel-indicators{
  display:block;
  bottom:20px;
  }
}
//end of carousel
//end of about
#mission{
  min-width: 100%;
  background-color: $brand-background;
.statement, img{
  margin-top: 15px;
  }
}
//end of mission
#contact{
  background-color: $brand-secondary;
  min-width: 100%; 
  header{
    margin-top: 27px;
  } 
  h1{
    margin-left: auto;
    margin-right: auto;
  } 
  form{
    width: 100%;
    //float: right;
    .subject{
      width: 100%;      
      input{
        width: 73%; 
      }
    }
  } 
#contact-form{
  display:inline-block;
}  
 a{
   color: $brand-primary;
 }
 form, p{
  margin-top:15px;
  }
}
//end of contact
#gallery{  
  min-width: 100%; 
  background-color: #D8DABE;
  h1{
    margin-bottom: 27px;
  }
  img[src = "textLogo.png"]{
    size: 50%;
  }
}
//end of gallery
#information{ 
  background: url('../images/footerBkg.svg') no-repeat center center;
  background-size: cover;
  min-width: 100%;
  padding: 0;
  z-index: 10;
  height: 170px;
}
.navbar {
  border-top:3px solid black;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  min-width: 100%;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 71%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 71%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 71%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
      min-width: 100%;
    }
}




    		
    	





//General Media Queries
///* responsive text queries */
@media screen and (max-width: 992px) {
  blockquote, p,.btn,input,div,span,h4, h5, li {
    font-size: 95%;
  }
  h1 {
    font-size: 24px;     
  }
  h2 {
    font-size: 22px;  
  }
  h3{
    font-size: 18px;  
  }   
}
@media screen and (max-width: 750px) {
  .lHeader, blockquote, p,.btn,input,div,span,h4, h5, li{
    font-size: 90%;
  }
  h1 {
    font-size: 20px;  
  }
  h2 {
    font-size: 18px;  
  }
  h3 {
    font-size: 16px;  
  }
  //Removing display:flex at lower resolutions from landing apge
  #landing >.col-md-7{
  //margin-top:33%
  height: auto;
  display: block;  
  margin: 20px 0 30px; 
}
 #landing > .col-md-5{
  //margin-top:33%;
  float: none;
  height: auto;
  display: block;
  margin: 0;
}
blockquote{
  display: block;
    p{
    text-align: left;
   }
  }
#what #outreach{      
    width: 100%;      
}
.vcenter{
    float: none;
    width: 100%;
    margin: 0 auto;
  }
}





  //fixing image at smaller resolution 480x320 landscape where it was too big
@media screen and (max-width: 500px){
  #landing img{
    width:25%;
  }
  form{
    float:none;
  }
  .pullL{
    float: left;
  }
  .pullR{
    float: right;
  }  
  .gapL{
    margin: 0;
  }
  .gapR{
    margin:0;
  }
  .verse{
    margin-top: 15px;
    margin-bottom: 15px;
  }  
  #mission img, #what img{
    margin-right: 15px;
  }
}
//Adding flex to larger resolutions to aid in vertical alignment of column
@media screen and (min-width: 600px ){
  .flex1{
  //margin-top:33%
  height: 450px; 
  display:flex;
  justify-content:center;
  //align-items: center;
  flex-flow: column;  
}
 .flex2{
  //margin-top:33%;
  float: right;
  //padding-left: 60px;
  height: 450px;
  display:flex;
  justify-content:center;
  //align-items: center;
  flex-flow: column;
  }  .verse{
    width: 35%;
  }
  .verse1{
    width: 50%;
  }

  


   



}  

