@font-face {
  font-family: 'thequietscream';
  src: url('../../fonts/thequietscream.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/../../fonts/../../fonts/../../fonts/../../fonts/thequietscream.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/../../fonts/../../fonts/../../fonts/thequietscream.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/../../fonts/../../fonts/thequietscream.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../fonts/../../fonts/thequietscream.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/thequietscream.svg#svgFontName') format('svg'); /* Legacy iOS */
}
html, body{
  min-width:100%; 
  overflow-x:hidden;  
}
h1, h2, h3, h4, h5, h6{
  font-weight: bold; 
}
h1{
  text-shadow: 6px 6px 5px rgba(150, 150, 150, 0.75);
}
cite{
  float: right;
  font-family: $font-family-serif;
}
/* uncss:ignore */
hr {
height: 100px;
background: url(../../images/hr-gray.png) no-repeat center;
border: none;
}
img{
  max-width: 20%;
  height: auto;
}
img, #information i.fa.fa-5x.fa-facebook.center-icon.pull-right{ 
  padding: 0;
  background-color: $brand-primary;
  border: 5px solid $brand-primary-darker;
  border-image: -webkit-linear-gradient(45deg,#122b40,#d0d5d9) 20 stretch; 
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
/* uncss:ignore */
 a:hover, a:focus{   
    text-decoration: underline;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */    
}
.antispam{
  display: none;
}
.breadcrumb{
  background: transparent;  
}
.btn{
  padding: 6px 12px;
  margin-right: 0;  
}
.btn-xlarge{
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
.btn-responsive {
    padding:6px 12px;
    max-width: 100%;
    font-size:85%;
    line-height: 1.5;
    border-radius:3px;
  }
  /* uncss:ignore */
.btn-responsive.disabled, .btn-responsive.disabled:hover{
  background-color: $gray-light;
  color: $brand-primary;
}
.cta{
  color: $brand-link;
}
 #about a i, #what a i:first-of-type, #mission a i, #contact a i, #gallery a i{
  position:absolute;
  bottom: 0;
  left: 50%;
}
.gapR {
  margin-left: 10px; 
  margin-right: 30px;  
}
.gapL {
  margin-right: 10px;
  margin-left: 30px;     
}
.hcenter{
    float: none;
    width: 100%;
    margin: 0 auto;
}
 .innerBox {
    color: #fff;
    padding: 20px;
    background: #494636;    
     -webkit-box-shadow: inset 0px 0px 5px 4px rgba(239,191,20,1), 0px 0px 3px 4px rgba(73,70,54,0.75);
     -moz-box-shadow: inset 0px 0px 5px 4px rgba(239,191,20,1), 0px 0px 3px 4px rgba(73,70,54,0.75);
     box-shadow: inset 0px 0px 5px 4px rgba(239,191,20,1), 0px 0px 3px 4px rgba(73,70,54,0.75);
     max-width: 75%;    
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;    
}
.pullL{
  float: left;
}
.pullR{
  float: right;
} 
.requiredNotice{
  color: red;
}
.thumb{
  max-width: 100%;
  margin-bottom: 50px;
}
.vcenter{
  display: inline-block;
  vertical-align: middle;
  float:none;
}
.verse{    
    max-width: 25%;
    color: $brand-secondary;
    border: 5px solid $brand-accent;
    border-image: -webkit-linear-gradient(45deg,#f7931e,#fef891) 20 stretch; 
    padding-top: 2.5%;
    padding-bottom: 2.5%;    
    //padding-left: .75%;
    //padding-right: 1.5%;
    // -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    //border-radius: 35px;
    background-color: $brand-primary;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75); 
    margin-top: 27px;
    margin-bottom: 15px;
    h5{
      color: $brand-secondary;
      max-width: 75%;
      font-weight: normal;
    }    
} 
.vtext{   //text for verses
  display: table-cell;
  vertical-align: middle;
  h5{
    margin-top: 0;
    margin-bottom: 0;    
  }
}
//--------SECTIONS
#what.container-fluid, #about.container-fluid, #mission.container-fluid, #contact.container-fluid{
 padding-bottom: 40px;
 position: relative;
}
/* uncss:ignore */
#landing {
	background: url('../../images/lrBkg.jpg') no-repeat center center scroll;
	background-size: cover;
	max-width: 100%;
	min-height: 100vh;
	color: $brand-secondary;
.container-fluid{
  height:100%;
  width: 100%;
  padding: 0;
}
.row-fluid{
	position: absolute;
	bottom: 5%;
  width: 100%; 
  margin: 0 auto;  
  }
}
#landing.container-fluid{
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.scream{
  font-family: 'thequietscream';
}
/* uncss:ignore */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* font-awesome */
/* uncss:ignore */
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
/* uncss:ignore */
.fa-5x {
    font-size: 5em
}
/* uncss:ignore */
.fa-arrow-down:before {
    content: "\f063"
}
/* uncss:ignore */
.fa-facebook-f:before,
.fa-facebook:before {
    content: "\f09a"
}
/* font awesome end */
/* uncss:ignore */
#arrow.fa-5x{
  position:absolute;
  bottom: 0;
  left: 45%;
}
/* uncss:ignore */
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
/* uncss:ignore */
.animated.bounceInDown{
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-duration:5s;
  -webkit-animation-duration: 5s;
}
/* uncss:ignore */
@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  /* uncss:ignore */
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    -webkit-transform-style: preserve-3d;
    transform: translate3d(0, -3000px, 0);
  }
  /* uncss:ignore */
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    -webkit-transform-style: preserve-3d;
    transform: translate3d(0, 25px, 0);
  }
  /* uncss:ignore */
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    -webkit-transform-style: preserve-3d;
    transform: translate3d(0, -10px, 0);
  }
  /* uncss:ignore */
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    -webkit-transform-style: preserve-3d;
    transform: translate3d(0, 5px, 0);
  }
  /* uncss:ignore */
  to {
    -webkit-transform: none;
    -webkit-transform-style: preserve-3d;
    transform: none;
  }
}
 #landingL, #landingR, #vHeadingR, #vHeadingL{
  width: 98%;
  display: inline-block;
}  
#landingL img{
  width: 150%;
  height: auto;
  padding: 0;
  background-color: transparent;
  border: 0;  
  box-shadow: none; 
}
#landingR img{      //remove background global styling from landing section images
  max-width: 100%;
  height: auto;
  padding: 0;
  background-color: transparent;
  border: 0;  
  box-shadow: none;  
}
.scream{

}
 p.tagline{
	font-family: 'Trade Winds', cursive;
	font-family: 'Trade Winds', cursive;
  font-size: 1em;
  line-height: 1;
	margin-bottom: 0;	  
}
#landingR img:last-of-type{
	max-width: 12em;  //based on 18px font for alpha Omega svg only
  height: auto;
}
  blockquote{   
    border-left: 0 solid #eeeeee;
  }
//end of landing
#about{  
  color: $brand-primary;
  background-color: $brand-background; 
}
//end of about 
//Beginning of #WHAT
#what.container-fluid, div#contact.container-fluid{
  background-color: $brand-secondary;      
}
#what{ 
  h1 + h3{
      margin-top: 25px;
      margin-bottom: 25px;
        &:first-of-type{
      font-weight: normal;
      } 
    }
  img{
    margin-bottom: 27px;
  }
  #outreach{      
      width: 33%;
      height: auto;
      ul{
      list-style-type: none;
      padding: 0;
      li{
        display: table;
        margin: 0 auto;
      }
    }
  }
}
//custom css for carousel and indicators
  #carousel-systems{
    margin:20px auto 35px;
    padding:20px;
    width: 60%;
    min-height: 19.44em;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75); 
    }
  .carousel-inner{
    padding-bottom: 20px;
    min-height: inherit;
  }   
  .carousel-indicators .active, .carousel-indicators li{  
    margin: 0 5px -50px;
  }
  .carousel-indicators {
    .active{
    border: 1px solid $brand-primary;
    background: $brand-accent;
  }
    li{
      border: 1px solid $brand-primary;    
    }
  }
  .carousel-indicators{
  display:block;
  bottom:40px;
  }
//end of carousel
//end of about
#mission{
  min-width: 100%;
  background-color: $brand-background;
.statement, img{
  margin-top: 10px;
  }
  img{
    margin-bottom: 27px;
  }
}
//end of mission
 /* uncss:ignore */
#what, #contact{ 
  max-width: 100%; 
  background-color: $brand-secondary;
  background:url("../../images/logos/alphaLg.svg")no-repeat center center;
  background-size: 120% 100%;
} 
  #contact{
 .row-fluid{
  margin-top: 27px;
 }
 .verse{
    max-width: 50%;
    margin: 0 auto;
  }
  h1{
    margin-left: auto;
    margin-right: auto;
  }  
  form{
    width: 100%;
    #Other{
      margin-top: 15px;
    }
    .hiddenField{
    display: none;
  } 
}
#contact-form{
  display:inline-block;
}  
 a{
   color: $brand-link;
 }
 form{
  margin-top:15px;
  }
}
//end of contact
#gallery{  
  min-width: 100%; 
  background-color: #D8DABE;
  h1{
    margin-bottom: 27px;
  }
  .col-lg-12 > img:only-of-type{
    width: 33%;
    height: auto;
    background-color: transparent !important;
    border: none;
    box-shadow: none;
    margin-top: 27px;
  }  
}
//lightbox
 /* uncss:ignore */
.modal-title, #image-gallery-caption{
  font-family: $font-family-serif;
  text-align: left;
}
 /* uncss:ignore */
.modal-dialog {
 max-width:600px;  
}
 /* uncss:ignore */
.modal.in .modal-dialog {
    transform: translate(0);
}
 /* uncss:ignore */
.modal-content{
  background-color: $brand-secondary;
}
 /* uncss:ignore */
.modal-header{
  border-bottom: 1px solid $brand-primary;
}
 /* uncss:ignore */
.close{
  color: $brand-primary;
  float: right;
    font-size: 27px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20)
}
 /* uncss:ignore */
.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    filter: alpha(opacity=50)
}
 /* uncss:ignore */
.modal-footer{
  border-top: 1px solid $brand-primary;
  /* text-align: none;   */
}
.thumbnail {
  margin-bottom:6px;
}
//end of lightbox
//end of gallery
//beginning of footer
 /* uncss:ignore */
#information{   
  background: url('../../images/footerBkg.jpg') no-repeat center center;
  background-size: cover;
  min-width: 100%;
  height: auto;
  position: absolute;
  padding: 0;
  z-index: 10;
  ul{
    display: inline;
    list-style-type: none;
    padding: 0;
  }
  p.text-center{
    color: #e1e0db;
  }
  .navbar {
    border-top:3px solid black;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    min-width: 100%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 71%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 71%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 71%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      .navbar-nav {
        display: inline-block;
        clear: both;
        vertical-align: top;
        min-width: 100%;
      }    
  }
  .nav > li {
    position: relative;
    display: block;
    vertical-align: middle;
  }
  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  /* uncss:ignore */
  .nav > li > a:hover, .nav > li > a:focus{
    text-decoration: none;            
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
 
 .row-fluid:nth-child(3){
  position: relative;
  bottom: 0;
  left: 0;
    > ul{
    display: inline-block;
    list-style-type: none;
    min-width: 100%;
    margin: 20px 0 0 0;
    > li:nth-child(1){
    margin-left: 20px;
  }  
  > li:nth-child(2){
    margin-right: 20px;
  }
}
}//end of row-fluid 3
  .row-fluid:nth-of-type(2){
   /*  padding-top: 30px; */
    padding-right: 30px;
    padding-left: 30px;
    .col-md-4:nth-child(2){
      background-color: $gray-darker;
      opacity: .5;
      border-radius: 40px;
      }
    }  //end of .row
}
  //end of #information

//General Media Queries
///* responsive text queries */
@media screen and (min-width: 300px){
  #information .col-md-4:first-child{   //correcting img scaling in footer at 600 and above
    margin: 0 auto;
    padding-bottom: 30px;
    img{
    max-width: 6em;
    height: auto;
  }  
}
  #information .col-md-4 a{
    text-decoration: none;
    .fa.fa-5x.fa-facebook.center-icon.pull-right{
    width: 1em;    
    text-decoration:none;
    line-height: 100px;
    }
  }
  #information >.row-fluid:nth-child(3) > ul > li{
    font-size:80%;
  }  
}

@media (max-width: 500px) {
  .btn-responsive {
    padding:6px 10px;
    width: 100%;
    font-size:85%;
    line-height: 1;
    border-radius:3px;
    margin-bottom: 20px;
  }
  .verse{
    margin-top: 15px;
    margin-bottom: 15px;
  } 
  a.breadcrumb-item{
    font-size: 75%;
  }
  #carousel-systems{
    width: 90%;
    min-height: 25em; 
    }
  .carousel-indicators{
    width: 100%;
    text-align: center;
    margin-left: -50%;
  } 
  #landingR img{ 
  max-width: 50%;
  height: auto;
  margin-left: 10px;
  }
  &blockquote{
  max-width: 100%;
  padding-top: 3px;
  }
  #contact .verse{
  max-width: 80%;
  }
  #information >.row-fluid:nth-child(3) > ul > li:nth-child(1){
    margin-left: 0;
    margin-bottom: 25px;
  }
  #information >.row-fluid:nth-child(3) > ul > li:nth-child(2){
    margin-right: 0;
  }
  #information >.row-fluid:nth-child(3) > ul > li.pull-right{
    width: 100%;
    float: left;
}
}

///750PX
@media screen and (max-width: 750px) {
  blockquote, p,input,span,div, h4, h5, li{
    font-size: 90%;
  }  
  h1 {
    font-size: 20px;  
  }
  h2 {
    font-size: 18px;  
  }
  h3 {
    font-size: 16px;  
  }
  #contact, #what{  
  background-color: $brand-secondary;
  background-size: 100%;  
  min-width: 100%; 
  }
}
///Through Tablet Portrait  992PX
@media screen and (max-width: 992px) {
  blockquote, p,input,span,h4,h5 div, li, .modal-title, .modal-caption, .image-gallery-title {
    font-size: 95%;
  }  
  h1 {
    font-size: 24px;     
  }
  h2 {
    font-size: 22px;  
  }
  h3{
    font-size: 18px;  
  }  
  #arrow.fa-5x{
    font-size:3em;
  }
  #information img, .center-icon{
    float: none !important;
    margin-left: auto;    
    margin-right: auto;
    display: block;
  }    
 #information .center-icon{
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;    
  } 
.verse{
  max-width: 80%;  
}
.pullL, .pullR{  //remove global floats
  float:none; 
}
.gapL, .gapR{   //remove global gaps
  margin: 0 auto;
}
 #gallery > .row-fluid > .col-lg-12 > img{ 
  display: block; 
  margin: 0 auto;
  width: 50%; 
  height: auto; 
}
#gallery > .row-fluid > .col-lg-12 > .verse{
  margin-top: 27px;
  margin-bottom: 27px;
}
#about > .row-fluid > .col-md-12 > img, #about > .row-fluid > .col-md-12 > .verse{
  margin-bottom: 27px;
  }
#what {
  #outreach {
    width: 100%;
    height: auto;
    margin: 27px 0;
  }
}
  #mission > .row-fluid > .col-xs-12 > .statement.clearfix >.verse.pullR.gapL{
  margin-bottom: 13.5px;
  }
  #what, #contact{   
  background:none;  
  }
  #landingR img{ 
  max-width: 33%;
  height: auto;
  margin-left: 10px;
  }
  &blockquote{
  max-width: 75%;
  padding-top: 3px;
  }

}
@media only screen and (min-width: 768px) and (max-width: 1050px) {
#carousel-systems{
    width: 80%;
    min-height: 22.5em; 
    }
  .carousel-indicators{
    width: 100%;
    text-align: center;
    margin-left: -50%;
  } 
  #information .col-md-4:first-child {
    margin-bottom: 20px;
  }
}
///Tablet landscape only
@media only screen and (min-width: 1024px) and (max-width: 1599px) {  //only add footer credit margin top on larger resolutions
   /*  .col-sm-5.pull-left, .col-md-7.pull-right{
      margin-top: 50px;
    }   */
  .verse {
    max-width: 33%;
  }
  #contact .verse{    
    max-width: 80%;
    margin: 0 auto;
  }
}